Source: nautilus-follow-symlink
Section: contrib/mate
Priority: extra
Maintainer: Toni Corvera <outlyer@gmail.com>
Build-Depends: debhelper (>= 5.0.0), gcc, pkg-config, libglib2.0-dev (>= 2.16), libcaja-extension-dev, intltool (>= 0.18), gettext
Standards-Version: 3.6.2
Homepage: http://p.outlyer.net/caja-follow-symlink/

Package: caja-follow-symlink
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: caja plugin to open the location pointed by a symlink
 This extension adds a context menu option to symbolic links to
 folders which opens the pointed folder instead of the symbolic link.
